body, html, #root, #root > div {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#root {
  overflow-x: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  padding-left: 1em;
}

ol:first-child,
ul:first-child,
p:first-child {
  margin-top: 0;
}

ol:last-child,
ul:last-child,
p:last-child {
  margin-bottom: 0;
}
